eody {
  min-height: 2000px;
  background-color:white;
}
.logo{
  position:relative;
  bottom:14px;
}
.navitem-above{
  background-color:transparent;
  border-color:transparent;
  padding-top:5px;
  font-size:20px;
}
.navitem-below{
  #background-color:#FF4747;
	background-color:#424242;
}
.navitem-below-text li a{
  color:white !important;
}
.glow-red>a:hover, .glow-red>a:focus{
  color:#DB4437 !important; 
}
a#mission.red-now, a#projects.red-now, a#about.red-now{
	color:#DB4437 !important;
}
#main-pg{
  background-image:url('../images/cover-water-white.jpg');
  color:#424242;
}
#main-pg-2{
	margin-top:10vh;
	margin-bottom:20vh;
}
#main-pg-3{
	background-image:url('../images/desk.jpg');
	height:60vh;
	background-attachment:fixed;
}
#main-pg-4{
	background-image:url('../images/details.jpg');
	height:60vh;
	background-attachment:fixed;
}
.profile{
	height:250px;
	width:250px;
	margin-bottom:150px;
	margin-left:auto;
	margin-right:auto;
}
.profile img{
	height:100%;
	width:100%;
}
.image-bg{
	background-size:cover;
	background-repeat:no-repeat;
}
.small-page-margin{
	margin:5vh 10vw 5vh 10vw;
}
.page-margin{
	margin:5vh 15vw 5vh 15vw;
}
.page{
  height:100vh;
	background-color:transparent;
}
.page-gradient{
  position:absolute;
  content:"";
  width:100%;
  background:linear-gradient(rgba(0,0,0,0.8),rgba(25,33,41,0.9));
}
.jumbo{
  font-family:walkway;
  text-align:center;
  position:relative;
  top:25vh;
  width:60%;
  margin-left:auto;
  margin-right:auto;
  font-family:Helvetica; 
	background-color:transparent;
}
.footer{
  height:20vh;
  background-color:#C7C7C7;
}
